<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoap" />
        </div>
        <div class="rsociales">
            <a href="{{pers.github}}"><img src="../../../assets/github.png" alt="" id="git" /></a>
            <a href="{{pers.instangram}}"><img src="../../../assets/instagram.png" alt="" id="inst" /></a>
            <a href="{{pers.twitter}}"><img src="../../../assets/twitter.png" alt="" id="twitt" /></a>
            <a href="{{pers.linkedin}}"><img src="../../../assets/linkedin.png" alt="" id="linkedin" /></a>
            <a href="{{pers.facebook}}"><img src="../../../assets/facebook.png" alt="" id="face" /></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged" title="Login"><i class="bi bi-door-closed-fill"></i>
            </button>
            <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isLogged">
                <button type="button" class="btn btn-danger" title="Ajustes" routerLink="/perfil/{{1}}"><i class="bi bi-brush"></i></button>
                <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" title="LogOut"><i class="bi bi-door-open-fill"></i></button>
            </div>
        </div>
    </div>
</div>