<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
    [percent]="10"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/javaico.png'"
    [imageHeight]="140"
    [imageWidth]="140"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="500">
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="10" 
        [radius]="100" 
        [showUnits]="false" 
        [imageSrc]="'../assets/javaico.png'"
        [imageHeight]="140" 
        [imageWidth]="140" 
        [showImage]="true" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="10" 
        [radius]="100" 
        [showUnits]="false" 
        [imageSrc]="'../assets/javaico.png'"
        [imageHeight]="140" [imageWidth]="140" [showImage]="true" [showSubtitle]="false" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="10" 
        [radius]="100" 
        [showUnits]="false" 
        [imageSrc]="'../assets/javaico.png'"
        [imageHeight]="140" 
        [imageWidth]="140" 
        [showImage]="true" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="10" 
        [radius]="100" 
        [showUnits]="false" 
        [imageSrc]="'../assets/javaico.png'"
        [imageHeight]="140" 
        [imageWidth]="140" 
        [showImage]="true" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="10" 
        [radius]="100" 
        [showUnits]="false" 
        [imageSrc]="'../assets/javaico.png'"
        [imageHeight]="140" 
        [imageWidth]="140" 
        [showImage]="true" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
</div>