<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoap">
        </div>
        <div class="rsociales">
            <a href="https://github.com/HelpTec"><img src="../../../assets/github.png" alt="" id="git"></a>
                <a href="https://www.instagram.com/_dial_d_for_diego_/"><img src="../../../assets/instagram.png" alt=""
                        id="inst"></a>
                <a href="https://twitter.com/Diego26958922"><img src="../../../assets/twitter.png" alt="" id="twitt"></a>
                <a href=""><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
                <a href="https://www.facebook.com/El.Ashrod"><img src="../../../assets/facebook.png" alt="" id="face"></a>
                <button type="button" class="btn btn-outline-dark">Login</button>
        </div>
  </div>
    
</div>