<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1 - </h1>
                <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit facilis sunt rerum nam libero,
                doloribus harum. Eos a, tempora aspernatur quia vel iure molestias atque quisquam deserunt non
                temporibus.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 2 - </h1>
                <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit facilis sunt rerum nam libero,
                doloribus
                harum. Eos a, tempora aspernatur quia vel iure molestias atque quisquam deserunt non temporibus.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 3 - </h1>
                <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit facilis sunt rerum nam libero,
                doloribus
                harum. Eos a, tempora aspernatur quia vel iure molestias atque quisquam deserunt non temporibus.</p>
        </ul>
    </div>
</div>