<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button class="btn btn-success" type="button" routerLink="/agregarproy" *ngIf="isLogged">
            Agregar proyecto
        </button>
    </div>
    <div *ngFor="let Proyecto of proy">
    <div class="contenedor">
        <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 p1">
            <h1>{{Proyecto.nombreP}}</h1>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 p1">
            <p class="text-start fs-2">{{Proyecto.descripcionP}}</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 p2">
            <a href={{Proyecto.urlP}}><img src={{Proyecto.imagenP}} class= "img-fluid img-proyecto"></a>
        </div>
        <div class= "col-sm-12 col-md-1 col-lg-1 p3" id="botones">
            <button type="button" class="btn btn-danger" (click)="borrar(Proyecto.id)" *ngIf="isLogged">
                <i class="bi bi-trash"></i>
            </button>
            <button type="button" class="btn btn-dark" routerLink="/editarproy/{{Proyecto.id}}" *ngIf="isLogged">
                <i class="bi bi-brush"></i>
            </button>
        </div>
        </div>
    </div>
    </div>
</div>