
<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-2">
        <button class="btn btn-success" type="button" routerLink="/agregarest" *ngIf="isLogged">
            Agregar estudio
        </button>
    </div>
    <div class="col-lg-10" id="tarjeta">
        <table class="table">
            <tbody>
                <tr *ngFor="let Estudios of est">
                    <td><h2>{{Estudios.nombreE}}</h2></td>
                    <td>{{Estudios.tiempoE}}</td>
                    <td>{{Estudios.descripcionE}}</td>
                    <td>
                        <button type="button" class="btn btn-dark" routerLink="/editarest/{{Estudios.id}}"
                            *ngIf="isLogged">
                            <i class="bi bi-brush"></i>Editar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="borrar(Estudios.id)" *ngIf="isLogged">
                            <i class="bi bi-trash"></i>Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
