<div class="container" *ngIf="pers">
    <div class="row">
        <div>
            <form (ngSubmit)="actualizar()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="descripcionE">
                        Descripcion de Perfil(1000 caracteres max)
                    </label>
                <input type="text" class="form-control" id="about" name="about" 
                [(ngModel)]="pers.about" requiered>
                </div>
                <button class="btn btn-success" type="submit">
                    Submit
                </button>
                </form>
        </div>
    </div>
</div>
