.row{
    padding-top: 40px;
    padding-left: 20px;
}

#titulo{
    width:200px;
}

#tarjeta{
    width: 500px;
}

.tabla{
    width:200px;
}
/*opcion de color de fondo*/
/*div {
    background-color: #a1b5cb;
} */

h1, h2, h3 {
    display: inline;
}