div{
    /*background-color: #a1b5cb; color de fondo opcional*/
    text-align: center;
}

#nom{
    font-weight: bold;
    margin-left: 20px;
}
@media (max-width: 575px){
button{
    width:30%;
};
span{
    margin-top: 2px;
    padding-top: 0px;
}
}


@media (min-width: 576px) {
    button{
        margin-left: 3px;
        margin-right: 3px;
    }
}
/*css para la foto perfil*/
#foto{
    box-shadow: 3px 3px 3px grey;
    border-radius: 100%;
}

/*mediaquery pantalla grande foto*/
@media (min-width: 576px){
    #foto{
        position:absolute;
        width:15%;
        left: 3%;
        top: 450px
    }
}
/*css para la foto perfil pantalla chica*/
@media (max-width: 575px) {
    #foto {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 500px
    }
    #nom{
        margin-top: 32%;
        margin-left: 0;
    }
}
/*css para nombre y titulo con 860px*/
@media (min-width: 576px) and (max-width: 860px){
    h3, h4{
        float: right;
        margin-top: 50%;
        margin-left: 0;
        padding:0;
    };
    #nom {
        margin-left: 0;
        padding-bottom: 0;
    }
}