div{
    /*background-color: #a1b5cb; color de fondo opcional*/
    text-align: center;
}

#nom{
    font-weight: bold;
    margin-left: 20px;
}
@media (max-width: 575px){
button{
    width:30%;
}
span{
    margin-top: 2px;
    padding-top: 0px;
}
}


@media (min-width: 576px) {
    button{
        margin-left: 3px;
        margin-right: 3px;
    }
}
/*css para la foto perfil*/
#foto{
    box-shadow: 3px 3px 3px grey;
    border-radius: 100%;
}

/*mediaquery pantalla grande foto*/
@media (min-width: 576px){
    #foto{
        position:absolute;
        width:15%;
        left: 3%;
        top: 450px
    }
}
/*css para la foto perfil pantalla chica y el boton de edit*/
@media (max-width: 575px) {
    #foto {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 500px
    }
    #nom{
        margin-top: 32%;
        margin-left: 0;
    }
    .btn-group {
        position: absolute;
        top: 540px;
        right: 50%;
        }
    .boton {
        position: absolute;
        float: none;
        margin-top: 0;
        margin-right: 0;
        top: 840px;
        right: 38%;
    }
}
/*css para nombre y titulo con 860px + boton de edit*/
@media (min-width: 576px) and (max-width: 860px){
    h3, h4{
        float: right;
        margin-top: 50%;
        margin-left: 0;
        padding:0;
    }
    #nom {
        margin-left: 0;
        padding-bottom: 0;
    }
    .boton {
        position: absolute;
        float: none;
        margin-top: 0;
        margin-right: 0;
        top: 680px;
        right: 89%;
    }
}
/*css para el boton de edit de la foto*/
.btn-group {
    float: right;
    margin-right: -20%;
    margin-top: -40px;
}
/*css para el boton de edit del nombre*/
.boton {
    float: right;
    margin-right: -27%;
    margin-top: -150px;
}