<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.png" 
        class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nom">Diego Nahuel Amezaga</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, accusantium. Perspiciatis aperiam recusandae blanditiis velit? Minus necessitatibus quasi fugit architecto nulla optio deleniti, tempora sapiente corrupti voluptas laudantium expedita hic?</p>
        </span>
    </div>
</div>
